<a href="https://colab.research.google.com/github/danidb29/Laboratorios-AnalisisDatos/blob/main/Laboratorio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/content/casasboston.csv')
data=pd.DataFrame(df)
print(data)
print(data.AGE)

dataResultado = data.loc[(data['TOWN']=='Winthrop')]
dataResultado

           TOWN      LON      LAT  MEDV     CRIM    ZN  INDUS  CHAS    NOX  \
0        Nahant -70.9550  42.2550  24.0  0.00632  18.0   2.31     0  0.538
1    Swampscott -70.9500  42.2875  21.6  0.02731   0.0   7.07     0  0.469
2    Swampscott -70.9360  42.2830  34.7  0.02729   0.0   7.07     0  0.469
3    Marblehead -70.9280  42.2930  33.4  0.03237   0.0   2.18     0  0.458
4    Marblehead -70.9220  42.2980  36.2  0.06905   0.0   2.18     0  0.458
..          ...      ...      ...   ...      ...   ...    ...   ...    ...
501    Winthrop -70.9860  42.2312  22.4  0.06263   0.0  11.93     0  0.573
502    Winthrop -70.9910  42.2275  20.6  0.04527   0.0  11.93     0  0.573
503    Winthrop -70.9948  42.2260  23.9  0.06076   0.0  11.93     0  0.573
504    Winthrop -70.9875  42.2240  22.0  0.10959   0.0  11.93     0  0.573
505    Winthrop -70.9825  42.2210  19.0  0.04741   0.0  11.93     0  0.573

        RM   AGE     DIS  RAD  TAX  PTRATIO       B  LSTAT
0    6.575  65.2  4.0900    1  296     15.3  396.90   4.98
1    6.421  78.9  4.9671    2  242     17.8  396.90   9.14
2    7.185  61.1  4.9671    2  242     17.8  392.83   4.03
3    6.998  45.8  6.0622    3  222     18.7  394.63   2.94
4    7.147  54.2  6.0622    3  222     18.7  396.90   5.33
..     ...   ...     ...  ...  ...      ...     ...    ...
501  6.593  69.1  2.4786    1  273     21.0  391.99   9.67
502  6.120  76.7  2.2875    1  273     21.0  396.90   9.08
503  6.976  91.0  2.1675    1  273     21.0  396.90   5.64
504  6.794  89.3  2.3889    1  273     21.0  393.45   6.48
505  6.030  80.8  2.5050    1  273     21.0  396.90   7.88

[506 rows x 17 columns]
0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

,TOWN,LON,LAT,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
501,Winthrop,-70.9860,42.2312,22.4,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,Winthrop,-70.9910,42.2275,20.6,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,Winthrop,-70.9948,42.2260,23.9,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,Winthrop,-70.9875,42.2240,22.0,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,Winthrop,-70.9825,42.2210,19.0,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [ ]:
#1) Seleccionar un pueblo diferente
#2) CRIM aquellos casos superiores a 0.50
#3) Promedio de edad
#4) Imprimir Indice y Edad
#5) Ordenamiento por CRIM

dataResultado = data.loc[(data['TOWN']=='Medford')]
dataResultado

,TOWN,LON,LAT,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
100,Medford,-71.0668,42.2545,27.5,0.14866,0.0,8.56,0,0.52,6.727,79.9,2.7778,5,384,20.9,394.76,9.42
101,Medford,-71.0810,42.2450,26.5,0.11432,0.0,8.56,0,0.52,6.781,71.3,2.8561,5,384,20.9,395.58,7.67
102,Medford,-71.0812,42.2515,18.6,0.22876,0.0,8.56,0,0.52,6.405,85.4,2.7147,5,384,20.9,70.80,10.63
103,Medford,-71.0770,42.2490,19.3,0.21161,0.0,8.56,0,0.52,6.137,87.4,2.7147,5,384,20.9,394.47,13.44
104,Medford,-71.0690,42.2480,20.1,0.13960,0.0,8.56,0,0.52,6.167,90.0,2.4210,5,384,20.9,392.69,12.33
105,Medford,-71.0662,42.2425,19.5,0.13262,0.0,8.56,0,0.52,5.851,96.7,2.1069,5,384,20.9,394.05,16.47
106,Medford,-71.0622,42.2431,19.5,0.17120,0.0,8.56,0,0.52,5.836,91.9,2.2110,5,384,20.9,395.67,18.66
107,Medford,-71.0553,42.2465,20.4,0.13117,0.0,8.56,0,0.52,6.127,85.2,2.1224,5,384,20.9,387.69,14.09
108,Medford,-71.0550,42.2505,19.8,0.12802,0.0,8.56,0,0.52,6.474,97.1,2.4329,5,384,20.9,395.24,12.27
109,Medford,-71.0600,42.2540,19.4,0.26363,0.0,8.56,0,0.52,6.229,91.2,2.5451,5,384,20.9,391.23,15.55
110,Medford,-71.0560,42.2605,21.7,0.10793,0.0,8.56,0,0.52,6.195,54.4,2.7778,5,384,20.9,393.49,13.00

In [ ]:
crim = dataResultado.loc[(dataResultado['CRIM'] > 0.5)]
crim

Empty DataFrame
Columns: [TOWN, LON, LAT, MEDV, CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT]
Index: []

In [ ]:
promedioEdad = dataResultado['AGE'].mean()
promedioEdad

84.5909090909091

In [ ]:
crimEdad = dataResultado.loc[(dataResultado['CRIM'] < 0.25) & (dataResultado['AGE'] < 75)]
crimEdad

,TOWN,LON,LAT,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
101,Medford,-71.081,42.2450,26.5,0.11432,0.0,8.56,0,0.52,6.781,71.3,2.8561,5,384,20.9,395.58,7.67
110,Medford,-71.056,42.2605,21.7,0.10793,0.0,8.56,0,0.52,6.195,54.4,2.7778,5,384,20.9,393.49,13.00

In [ ]:
crimSort = dataResultado.sort_values(by=['CRIM'])
crimSort

,TOWN,LON,LAT,MEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
110,Medford,-71.0560,42.2605,21.7,0.10793,0.0,8.56,0,0.52,6.195,54.4,2.7778,5,384,20.9,393.49,13.00
101,Medford,-71.0810,42.2450,26.5,0.11432,0.0,8.56,0,0.52,6.781,71.3,2.8561,5,384,20.9,395.58,7.67
108,Medford,-71.0550,42.2505,19.8,0.12802,0.0,8.56,0,0.52,6.474,97.1,2.4329,5,384,20.9,395.24,12.27
107,Medford,-71.0553,42.2465,20.4,0.13117,0.0,8.56,0,0.52,6.127,85.2,2.1224,5,384,20.9,387.69,14.09
105,Medford,-71.0662,42.2425,19.5,0.13262,0.0,8.56,0,0.52,5.851,96.7,2.1069,5,384,20.9,394.05,16.47
104,Medford,-71.0690,42.2480,20.1,0.13960,0.0,8.56,0,0.52,6.167,90.0,2.4210,5,384,20.9,392.69,12.33
100,Medford,-71.0668,42.2545,27.5,0.14866,0.0,8.56,0,0.52,6.727,79.9,2.7778,5,384,20.9,394.76,9.42
106,Medford,-71.0622,42.2431,19.5,0.17120,0.0,8.56,0,0.52,5.836,91.9,2.2110,5,384,20.9,395.67,18.66
103,Medford,-71.0770,42.2490,19.3,0.21161,0.0,8.56,0,0.52,6.137,87.4,2.7147,5,384,20.9,394.47,13.44
102,Medford,-71.0812,42.2515,18.6,0.22876,0.0,8.56,0,0.52,6.405,85.4,2.7147,5,384,20.9,70.80,10.63
109,Medford,-71.0600,42.2540,19.4,0.26363,0.0,8.56,0,0.52,6.229,91.2,2.5451,5,384,20.9,391.23,15.55

In [ ]:
#Integrantes:
# Abraham Quesada
# Daniel Delgado
# Andrés Carvajal
# Adrián Solís